{% extends 'base.html' %}

{% block content %}
  <h2>備品一覧</h2>

  <form method="get" action="">
  {{ form.query }}
  {{ form.stock_filter }}
  <button type="submit">検索</button>
  </form>

  <p><a href="{% url 'item_create' %}" class="btn btn-primary">＋ 新しい備品を登録する</a></p>

  <ul>
    {% for item in items %}
      <li>
        <a href="{% url 'item_detail' item.pk %}">{{ item.name }}</a>（{{ item.quantity }}個）
        {% if item.user == request.user %}
        ｜<a href="{% url 'item_delete' item.pk %}">削除</a>
        {% endif %}
        ｜<a href="{% url 'rental_create' item.id %}">貸出</a>
      </li>
    {% empty %}
      <li>現在利用可能な備品はありません。</li>
    {% endfor %}
  </ul>
{% endblock %}
